<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.modules.sys.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.company.project.modules.sys.entity.PermissionEntity">
        <id column="permission_id" property="permissionId"/>
        <result column="permission_name" property="permissionName"/>
        <result column="type" property="type"/>
        <result column="parent_id" property="parentId"/>
        <result column="order_num" property="orderNum"/>
        <result column="permession_flag" property="permessionFlag"/>
        <result column="url" property="url"/>
        <result column="icon" property="icon"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        permission_id, permission_name, type, parent_id, order_num, permession_flag, url, icon
    </sql>

    <!-- 根据角色id列表查询权限 -->
    <select id="listPermissionsByRoleIds" resultType="com.company.project.modules.sys.entity.PermissionEntity">
        select * from sys_permission p
        inner join sys_role_permission rp on rp.permission_id = p.permission_id
        where rp.role_id in
        <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
    </select>




</mapper>
